.navbar{
    height: 6rem;
  }
  .navbar-brand{
    margin-right: 1.5rem;
    margin-left: 0.5rem;
  }
  div.welcome{
    padding-top: 150px;
    padding-bottom: 150px;
  }
  body{
    text-align: center;
  }
  div h1{
    text-align: center;
    font-size: 60px;
    padding: 10px;
  }
  .contact{
    padding-top: 40px;
    text-align: center;
  }
  h2{
    width: 50%;
    margin: 60px auto;
    padding: 50px 50px;
  }